@model iWasHere.Domain.DTOs.DictionaryCityModel
@{
    ViewData["Title"] = "AddCity";
}
<h2>Adauga informatii despre  un oras</h2>
@using (Html.BeginForm("NewCity", "Dictionary", FormMethod.Post))
{
    <input type="text" asp-for="CityName" id="textBox"/>


@(Html.Kendo().MaskedTextBox()
              .Name("txtCode")
              .Events(events => events.Change("changeTextBox"))
              .HtmlAttributes(new { style = "width: 22%" })
)<h4>Judet</h4>
@(Html.Kendo().ComboBox()
        .Name("counties")
        .DataTextField("CountyName")
        .DataValueField("CountyId")
        .HtmlAttributes(new { style = "width:60%; id='counties'" })
        .Filter("StartsWith")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("FilterGetCounties", "Dictionary");
            })
        .ServerFiltering(true);
        })
)

<div>
    <button class="k-button k-primary" id="save" style="margin-top: 2em; float: left;background-color: #008CBA;">Salveaza</button>

    <button class="k-button k-primary" id="SaveAndNew" style="margin-top: 2em; float: left;background-color: #008CBA;">Salveaza si nou</button>

    <button class="k-button k-primary" id="cancel" style="margin-top: 2em; float: left;background-color: #008CBA;">Anuleaza</button>
</div>
}
