@model iWasHere.Domain.DTOs.DictionaryCityModel
@{
    ViewData["Title"] = "AddCity";
}
@Html.ValidationSummary(true)
 
<div>
    <h2 align="center">Adauga informatii despre  un oras</h2>
    <img style=" height:200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEhNtGxZfcNJq-XA7UBHaPwnY2BPifYNr8mFQW5sUQQ8qReQ7" alt="Alternate Text" />
    @using (Html.BeginForm("NewCity", "Dictionary", FormMethod.Post))
    {
        @Html.HiddenFor(a => a.CityId)
        <label for="Oras">
            Oras:
        </label>
        <br />
        <input type="text" asp-for="CityName" id="city" />
        <br />
        <br />
        <label for="Judet">
            Judet:
        </label>
        <br />
        @(Html.Kendo().ComboBoxFor(model => model.CountyId)
          .DataValueField("CountyId")
          .DataTextField("CountyName")
          .Placeholder("Selecteaza un judet...")
          .HtmlAttributes(new { style = "align:left; width:60%; id='counties'" })
          .Filter("StartsWith")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("FilterGetCounties", "Dictionary");
              })
              .ServerFiltering(true);
          })
        )
        <br />
        <button onclick="validate()" class="btn btn-outline-info " id="save" name="submit" style="margin-top: 2em; float: left;">Salveaza</button>

        @if (Model == null)
        {
            <button onclick="validate()"
                    class="btn btn-outline-info "
                    value="savenew" name="submit"
                    style="margin-top: 2em; float: left;">
                Salveaza si nou
            </button>
        }
        <a class="btn btn-outline-danger " href="/dictionary/City" name="submit" style="margin-top: 2em; float: left;">Anuleaza</a>
    }
</div>

<style>
    .btn {
        margin-right: 20px;
    }
    body {
        /*background-image: linear-gradient(to top, #2a2c2e, #34375c, #722e70, #b60054, #d50000);*/
        /*background-image: linear-gradient(to right bottom, #0f0d0d, #403939, #786969, #b49d9d, #f4d5d5);*/
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-color: lightyellow;
    }
</style>
<script>
    function validate() {
        if (invalid($('#city').val())) {
            alert("Trebuie sa introduceti numele orasului");
        }

        //var co = $('#counties');
        //if (co.val() == undefined) {
        //    alert("Selecteaza un judet!");
        //    $('#co').focus();
        //}
        //var combo = $find('<%=counties.CountyId %>');
        //if (combo.get_selectedIndex() == undefined) {
        //    alert("Selecteaza un judet!");
        //}

    }
    function invalid(str) {
        return str === null || str == "" || str == " " || str.match(/^ *$/) !== null;
    }
</script>