@model IEnumerable<iWasHere.Domain.DTOs.DictionaryCategoryTypeModel>
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #addCategory {
        display: block;
        border: 2px solid red;
    }

    #addCategoryInput {
        display: block;
    }

    #addCategory, #addCategoryInput {
        float: right;
    }
   
}
</style>

<a href="addcategory" class="button btn btn-outline-danger">Add Category</a>
<br />

<h1>Category</h1>
<input id='categoryInput' type="text" />
<button onclick="resetGrid()">Filter</button>



@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCategoryTypeModel>
    ()
    .Name("Grid")
    .HtmlAttributes(new { style = "id=Grid" })
    .Columns(columns =>
    {
    columns.Bound(o => o.Name);
    })
    .Sortable()
    .Filterable()
    .Scrollable()
    .Groupable()
    .Pageable(
    pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5)
    )
    .DataSource(dataSource => dataSource
    .Ajax()
    //.PageSize(10)
    .PageSize(20)
    .Read(read => read.Action("CategoryBinding_Read", "Dictionary").Data("filter"))
    )
)

<script>
    function filter() {
        var categoryObj = {}
        categoryObj['categoryName'] = $('#categoryInput').val();
        return categoryObj;
    }

    function resetGrid() {
        $('#Grid').data('kendoGrid').dataSource.read();
        $('#Grid').data('kendoGrid').dataSource.page(1);
    }
</script>
