@{
    ViewData["Title"] = "Home Page";
}
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <style>
        #imageBck{
            border-radius:12px;
            background:url('https://media.giphy.com/media/gJoygX5MjLvcgkafJy/source.gif');
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
            width:100%;
            height:100vh;
        }
        h1{
            
            color:red;
             font-family: 'Courgette', cursive;
            border-radius:12px;
        }
    </style>
    <div class="text-center">
        <h1 class="display-4">Spiderman Team</h1>
        <div id="imageBck">

        </div>
        @*@(Html.Kendo().ComboBox()
             .Name("fabric")
             .Filter(FilterType.Contains)
             .Placeholder("Select fabric...")
             .DataTextField("Text")
             .DataValueField("Value")
             .BindTo(new List<SelectListItem>() {
                 new SelectListItem() {
                   Text = "Cotton", Value = "1"
                 },
                 new SelectListItem() {
                   Text = "Polyester", Value = "2"
                 },
                 new SelectListItem() {
                   Text = "Cotton/Polyester", Value = "3"
                 },
                 new SelectListItem() {
                   Text = "Rib Knit"+" MERGE"+" Fraere:))", Value = "4"
                 }
             })
             .SelectedIndex(3)
             .Suggest(true)
             .HtmlAttributes(new { style = "width:100%;" })
            )*@
    </div>
